@charset "utf-8";

/* 基本設定 */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Serif JP' ,serif;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.readBtn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    color: #243c58;
}
.readBtn:hover {
    text-decoration: underline;
}
@media (min-width: 769px) {
    .container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    .readBtn {
        font-size: 22px;
    }
}

/* ヘッダー */
header {
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headA {
    line-height: 70px;
    padding: 0 20px;
}
.headA a {
    display: block;
    font-size: 28px;
    font-weight: bold;
}
.headB {
    width: 70px;
    height: 70px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}
.headB .line {
    width: 70%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
.headB .line:nth-of-type(1) {
    transform: translate(-50%, -15px);
}
.headB .line:nth-of-type(3) {
    transform: translate(-50%, 14px);
}
.headB.open .line:nth-of-type(1) {
    transform: translate(-50%, 0px) rotate(45deg);
}
.headB.open .line:nth-of-type(2) {
    opacity: 0;
}
.headB.open .line:nth-of-type(3) {
    transform: translate(-50%, 0px) rotate(-45deg);
}
.headC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translate(100%, -100%);
    transition: 0.3s;
    z-index: 99;
}
.headC.open {
    transform: translate(0%, 0%);
}
.headC ul a {
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: block;
    padding: 20px 25px;
}
.headC ul a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {
    header {
        height: 100px;
    }
    .headA {
        line-height: 100px;
    }
    .headA a {
        font-size: 32px;
    }
    .headB {
        display: none;
    }
    .headC {
        padding-right: 20px;
        flex: 1;
        position: static;
        height: 70px;
        background: none;
        transform: none;
        justify-content: flex-end;
    }
    .haedC ul {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: pink;
    }
    .headC ul li {
        display: inline-block;
        width: 100px;
    }
    .headC ul a {
        padding: 0 15px;
        font-size: 22px;
        color: #333;
    }
}

/* ヒーローイメージ */
.hero {
    background-image: url(img/wind-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -1;
}
.hero .container {
    height: 100%;
    position: relative;
}
.hero #head-title {
    font-size: 15vw;
    position: absolute;
    top: 30%;
    left: 15%;
    /* opacity: 0;
    transition: 2s 1s; */
}
/* .hero #head-title.show {
    opacity: 1;
} */

@media (min-width: 769px) {
    .hero #head-title {
        font-size: 100px;
    }
}

/* コンテンツ */
.content-wrapper {
    padding: 30px 0 10px;
    background-image: url(img/white-paper-bg-L.jpg);
    background-position: center;
    background-size: cover;
}
.nohero .content-wrapper {
    padding-top: 100px;
    background-image: url(img/white-paper-bg-L.jpg);
    background-position: center;
    background-size: cover;
}
.content-wrapper .container {
    background-color: #fff;
}
@media (min-width: 769px) {
    .nohero .content-wrapper {
        padding-top: 130px;
    }
}
@media (max-width: 1030px) {
    .content-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* コンテンツ: サービス */
.contents {
    margin-bottom: 30px;
}
.contents .container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contents .title-bg {
    margin: 0 auto 30px;
    padding: 5px 0;
    width: 150px;
    border-bottom: 1px solid #333;
}
.contents .title-bg h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.contents .items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.contents .service-content {
    margin: 0 15px 40px;
    padding: 0 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 300px;
}
.contents .service-content span {
    margin-bottom: 20px;
    display: block;
    font-size: 70px;
    color: #aaa;
}
.contents .service-content h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.contents .service-content p {
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 769px) {
    .contents .title-bg {
        margin-bottom: 50px;
    }
    .contents .title-bg h1 {
        font-size: 34px;
    }
    .contents .service-content span {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .contents .service-content h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .contents .service-content p {
        font-size: 20px;
    }
}

/* コンテンツ: 制作サイト */
.contents .work-content {
    margin: 0 15px 40px;
    padding: 0 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 300px;
}
.contents .work-content .photo {
    margin-bottom: 20px;
    display: block;
    font-size: 70px;
    color: #aaa;
}
.contents .work-content .photo img {
    width: 100%;
}
.contents .work-content h2 {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}
.contents .work-content a {
    transition: 0.3s;
}
.contents .work-content a:hover {
    opacity: 0.8;
}

@media (min-width: 769px) {
    .contents .work-content h2 {
        font-size: 22px;
    }
}

/* コンテンツ: プロフィール */
.about .text {
    margin-bottom: 30px;
    padding: 0 20px;
    font-size: 18px;
}
.about .text p {
    text-align: center;
    margin-bottom: 10px;
}
.about .text ul {
    margin-left: 20px;
    margin-right: 20px;
}
.about .text ul li {
    line-height: 1.8;
}
.contents .items.profile {
    align-items: start;
}
.contents .profile-content {
    margin: 0 15px 40px;
    padding: 0 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 300px;
}
/* .contents .profile-content span {
    margin-bottom: 20px;
    display: block;
    font-size: 70px;
    color: #aaa;
} */
.contents .profile-content h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.contents .profile-content p {
    font-size: 18px;
    line-height: 1.8;
}

@media (min-width: 769px) {
    .about .text {
        margin-bottom: 50px;
        font-size: 22px;
    }
    .about .text p {
        margin-bottom: 20px;
    }
    .about .text ul {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .contents .profile-content h2 {
        font-size: 24px;
    }
    .contents .profile-content p {
        font-size: 20px;
    }
}

/* コンテンツ: お問い合わせ */
.contact .text {
    margin-bottom: 30px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact .text p {
    text-align: center;
    margin-bottom: 20px;
}
.contact .text p br {
    display: none;
}

@media (min-width: 769px) {
    .contact .text {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
    }
    .contact .text p {
        margin-bottom: 40px;
    }
    .contact .text p br {
        display: block;
    }
}

/* フッター */
footer .container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footA {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.footB ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.footB ul a {
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 5px 10px;
}
.footB ul a:hover {
    text-decoration: underline;
}
.footC {
    text-align: center;
    font-size: 14px;
}

@media(min-width: 769px) {
    footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footA {
        padding-left: 30px;
        text-align: left;
        flex: 30%;
        font-size: 32px;
    }
    .footB {
        flex: 70%;
    }
    .footB ul {
        margin-right: 30px;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .footB ul a {
        font-size: 22px;
        padding: 10px 20px;
    }
    .footC {
        margin-top: 20px;
        font-size: 16px;
        flex: 100%;
    }
}

/* トップに戻るボタン */
.top-btn {
    width: 40px;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    right: 10px;
    bottom: 30px;
    cursor: pointer;
}
.top-btn .arrow-up {
    display: block;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}

@media (min-width: 769px) {
    .top-btn {
        width: 70px;
        right: 50px;
        bottom: 80px;
    }
    .top-btn .arrow-up {
        font-size: 36px;
        line-height: 80px;
    }
}

/* サービス紹介ページ */
.servicePage {
    margin-bottom: 30px;
}
.servicePage .container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicePage .title-bg {
    margin: 0 auto 30px;
    padding: 5px 0;
    width: 150px;
    border-bottom: 1px solid #333;
}
.servicePage .title-bg h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.servicePage .service-item {
    margin: 0 15px 60px;
    padding: 0 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicePage .service-item:last-of-type {
    margin-bottom: 20px;
}
.servicePage .service-item span {
    margin-bottom: 30px;
    display: block;
    font-size: 70px;
    color: #aaa;
}
.servicePage .service-item .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicePage .service-item h2 {
    margin-bottom: 30px;
    font-size: 22px;
}
.servicePage .service-item p {
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 769px) {
    .servicePage .title-bg {
        margin-bottom: 50px;
    }
    .servicePage .title-bg h1 {
        font-size: 34px;
    }
    .servicePage .service-item {
        flex-direction: row;
        align-items: stretch;
    }
    .servicePage .service-item span {
        width: 150px;
        padding-right: 60px;
        font-size: 90px;
        text-align: right;
        line-height: 2em;
        flex: 0 0 30%;
    }
    .servicePage .service-item .text {
        margin-right: 80px;
        align-items: start;
        flex: 1;
    }
    .servicePage .service-item h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .servicePage .service-item p {
        font-size: 20px;
    }
}

/* 制作サイト紹介ページ */
.workPage {
    margin-bottom: 30px;
}
.workPage .container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workPage .title-bg {
    margin: 0 auto 30px;
    padding: 5px 0;
    width: 150px;
    border-bottom: 1px solid #333;
}
.workPage .title-bg h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.workPage .work-list {
    padding: 10px 20px;
}
.workPage .work-item:not(:last-of-type) {
    margin-bottom: 100px;
}
.workPage .work-item h2 {
    font-size: 22px;
    margin-bottom: 30px;
}
.workPage .work-item .photo {
    margin-bottom: 40px;
    width: 100%;
}
.workPage .work-item .photo img {
    width: 100%;
}
.workPage table {
    border-top: 1px solid #aaa;
    border-collapse: collapse;
}
.workPage table tr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.workPage table th,
.workPage table td {
    padding: 15px 5px 15px 10px;
    line-height: 1.5;
    font-size: 16px;
    border-bottom: solid 1px #aaa;
}
.workPage table th {
    text-align: left;
    word-break: keep-all;
}
.workPage table td {
    vertical-align: middle;
}
.workPage table td a {
    color: #243c58;
    text-decoration: underline;
}
.workPage table td a:hover {
    opacity: 0.8;
}

@media (min-width: 769px) {
    .workPage .title-bg {
        margin-bottom: 50px;
    }
    .workPage .work-item h2 {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .workPage .work-item .photo {
        margin-bottom: 60px;
    }
    .workPage .work-list {
        padding: 10px 60px;
    }
    .workPage table {
        margin-left: 30px;
        margin-right: 30px;
    }
    .workPage table th,
    .workPage table td {
        font-size: 20px;
    }
}

/* お問い合わせフォーム */
.contactPage {
    margin-bottom: 30px;
}
.contactPage .container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactPage .title-bg {
    margin: 0 auto 30px;
    padding: 5px 0;
    width: 150px;
    border-bottom: 1px solid #333;
}
.contactPage .title-bg h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.contactform {
    font-size: 20px;
    width: 100%;
    margin: 30px auto;
}
.contactform div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.contactform input {
    margin-top: 10px;
    line-height: 30px;
    width: 100%;
}
.contactform textarea {
    margin-top: 10px;
    width: 100%;
}
.contactform button {
    font-size: 18px;
    font-family: serif;
    line-height: 1.8;
    display: inline-block;
    border: solid 2px var(--orange);
    border: solid 2px #243c58;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}
.contactform button:hover {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .contactform {
        max-width: 700px;
        width: 100%;
        font-size: 22px;
        margin: 20px auto;
    }
    .contactform div {
        flex-direction: row;
        align-items: center;
    }
    .contactform > div > div {
        flex: 3;
    }
    .contactform label {
        margin-top: 10px;
        line-height: 30px;
        display: block;
        flex: 1;
    }
    .contactform #name {
        flex: 2;
    }
    .contactform #email {
        flex: 2;
    }
    .contactform #content {
        flex: 2;
    }
    .contactform button {
        font-size: 22px;
        padding: 0 30px;
    }
}

/* 見出しを1文字ずつアニメーションさせる */
@keyframes showText {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.animationTitle.showAnime span {
    display: inline-block;
    animation: showText 0.8s backwards;
}
.title-bg-anime {
    transform: scaleX(0);
    transition: 0.5s 0.3s;
}
.title-bg-anime.showAnime {
    transform: scaleX(1);
}


/* スクロールしたときにコンテンツを表示 */
.scrollAnime {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.7s;
}
.scrollAnime.showContent {
    opacity: 1;
    transform: translateY(0px);
}
